.claim-reward_claimBg__w3grv {
    background: linear-gradient(84deg, rgba(82, 119, 248, .08) 29.64%, rgba(134, 126, 253, .08) 60.7%, hsla(22, 97%, 74%, .08) 99.18%);
    position: relative
}

.claim-reward_claimBg__w3grv:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(84deg, rgba(82, 119, 248, .4) 29.64%, rgba(134, 126, 253, .4) 60.7%, hsla(22, 97%, 74%, .4) 99.18%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude
}

.claim-reward_claimText__vRl6k {
    background: linear-gradient(85deg, #9db2fb 15.96%, #a19bfd 59.95%, #fdae82 114.47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}